* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* ajustes basicos */
body {
    background-color: #FFBD35;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
h1,h2,h3,h4,h5,h6,p, a, button {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;   
}
a {
    color: white;
}
h1 {
    color: rgb(13, 141, 141);
    text-align: center;
    margin: 20px;
}
h2 {
    color: rgb(13, 141, 141);
    text-align: left;
    padding: 10px 60px;
    margin: 20px;
}
h2:hover {
    color: #E9DAC1;
}
button, select {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border-color: #ffffff;
}

button:hover, select:hover{
    color: #E9DAC1;
    background-color: rgb(13, 141, 141);
}
.right {
    float:right;
}
/* grid container */
.grid-container {
    display: grid;
    gap: 10px;
    height: 100vh;
    grid-template-rows: 90px auto 90px;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
.header {
    grid-area: header;
}
.main {
    grid-area: main;
}
.footer {
    grid-area: footer;
}
/* header */
#header.header {
    background-color: rgb(13, 141, 141);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: 100;
}
#header .header__logo {
    padding: 10px 10px;
    text-align: center;
    color: white;
}
#header .header__menu ul {
    display: flex;
    list-style: none;
}
#header .header__menu ul li a,
#header .header__icon,
#header .header__search_bar {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    padding: 10px;
}
a:hover,
i:hover,
#header .header__menu ul li a:hover,
#header .header__logo i:hover {
    color: #FFBD35;
    transform: scale(1.75);
}
#header .header__search_bar i,
#header .header__icon i {
    padding: 5px;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

/* breadcrumb o miga de pan */
ul.breadcrumb {
    padding: 30px 60px;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
}
ul.breadcrumb li a:hover {
    color: rgb(13, 141, 141);
}

/* footer */
#footer,
#footer .footerHome__icon,
#footer .footerHome__text {
    background-color: rgb(13, 141, 141);
    justify-content: center;
    align-items: center;
    border: 5px;
    padding: 10px;
    height: 90px;
    width: 100%;
    display: flex;
    color: white;
}
#footer .footerHome__icon i {
    padding: 10px;
}
/* slider home */
#slider-main{    
    padding: 20px;
    width: auto;
}
#slider {
    height: 400px;
    overflow: hidden;
}
.slider-container {
    height: 100%;
    position: relative;
}
.slider-item {
    height: 100%;
}
.slider-arrow {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.slider-item img {
    width: 100%;
    height: 100%;
}

/* contenedor productos */
.productos-container {
    display: flex;
    justify-content: space-between;   
    flex-direction: row;
    margin: 2px;
    flex-wrap: nowrap;
    color: white;
    font-size: 20px;
    padding: 20px;
}
.productos-item,
.productos-item-right {    
    margin: 5px;
    width: 100%;
    color: white;
    flex: auto;
}
.productos-item img,
.productos-item-right img {
    width: 300px;
    height: auto;
    margin: 10px;
    padding: 10px;
}

.productos-item img:hover, 
.productos-item-right img:hover {
    transform: scale(1.15);
}
.productos-item p {
    margin: 10px;
    padding: 10px;
}
.productos-descripcion p {
    left: 3%;
    padding: 10px;
    width: 297px;
    height: auto;
}
.productos-container-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    margin: 30px;
    padding: 20px;
    flex-wrap: nowrap;
    color: white;
    font-size: 20px;
}
.productos-range {
    display: flex;
    justify-content: center;
}
.productos-range input {
    width: 1000px;
    height: auto;
}
input[type=range]::-webkit-slider-runnable-track {
    background-color: rgb(13, 141, 141);
    height: 10px;
    margin: 9px;
}
/* contenedor img */
.img-container {
    display: grid;
    gap: 10px;
    margin: 10px;
    padding: 20px;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
    "img"
    "text"
    "descripcion";
    align-items: center;
}
.img-container img{
    clip-path: circle(45% at 50% 50%);
    width: 300px;
    height: auto;
}
.img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: start;
    justify-items: center;
    }
    
.div1 {
    grid-row-start: 1;
    grid-column-start: 1;     
    grid-row-end: 2;
    grid-column-end: 2;       
}
.div2 {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    color: white;
    font-size: 20px;
}
.div3 {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4; 
    color: white;
    font-size: 20px;   
}
.div4 {  
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2; }.div5 {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    color: white;
    font-size: 20px;
}
.div1:hover, .div4:hover{
    -webkit-transform: scale(.5);
    transform: scale(1.2);
  }

.boletines-container {
    display: flex;
    justify-content: center;
}
.box-boletines {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(13, 141, 141);   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    width: 1750px;           
    height: 350px;
    padding: 10px;
}
.box-boletines img {
    clip-path: circle(45% at 50% 50%);
    width: 150px;
    height: auto;
}
.box-boletines p {
    height: auto;
    color: white;
    font-size: 20px;
    padding: 10px;
}
.box-button {
    display: flex;
    border-top: 1px solid #ededed;
    padding: 16px 30px;
}
/* productos más buscados */
.box-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.box-container > .img-item {
    margin: 6px;
}
.img-item {
    width: 20%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border-radius: 10px;
    padding: 10px;
    animation: float 6s ease-in-out infinite; 
}  
.text-item {
    text-align: center;
    padding: 10px 20px;
}
.img-item img {
    width:100%;
}
/* productos recomendados */
.recomendados {
    display: flex;
    justify-content: space-around;
}
.recomendados-container {
    width: 80%;
    max-width: 600px;
    background: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    color: #FFBD35;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-item-recomendados {
    flex-shrink: 0;
    width: 250px;
    padding: 10px;
}
.img-item-recomendados img{
    width: 100%;
}
/* nuestros aliados */
.center {
    text-align: center;
}
.buscados-container {
    display: flex;
    justify-content: space-evenly;
}
.buscados-container img {
    clip-path: circle(45% at 50% 50%);
    width: 150px;
    height: auto;
    animation: mymove 2s;
}
/* animación imagenes */
@keyframes mymove {
    100% {transform: rotateY(360deg);}
  }
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
/* contenedor botones filtro productos */
.btn-container {
    display: flex;
    justify-content: space-around;    
    cursor: pointer;
}
.producto-busqueda-container {
    display: flex;
}
/* nuestros recomendados */
.container {
    display: flex;
}
.container-info {
    padding: 10px;
    color: #fff;
}
.container-info .img-info {
    display: flex;
    justify-content: center;
}
.container-info .img-info img{
    width: 80px;
    height: auto;
}
.border-style {
    border-right-style: solid;
    border-left-style: solid;
}
/* contenedor medio ambiente */
.container-medio-ambiente {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.grid-medio-images-container { 
    grid-area: 1 / 2 / 2 / 3; 
}
.grid-medio-descripcion-container { 
    grid-area: 1 / 3 / 2 / 4; 
}
.angry-grid {
    display: grid;  
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;   
    grid-gap: 20px 20px;
    height: 100%;  
    bottom: 2px;
    margin: 10px;
}
#item-0 {
    grid-row-start: 1;
    grid-column-start: 1; 
    grid-row-end: 4;
    grid-column-end: 3;
 }
 #item-0 img,
 #item-1 img  {
  height: 100%;
  width: 100%;  
 }
 #item-1 {
    grid-row-start: 1;
    grid-column-start: 3; 
    grid-row-end: 3;
    grid-column-end: 5;
    
 }
 #item-2 {
    grid-row-start: 3;
    grid-column-start: 3; 
    grid-row-end: 4;
    grid-column-end: 4;
    
 }
 #item-3 {
    grid-row-start: 1;
    grid-column-start: 5; 
    grid-row-end: 4;
    grid-column-end: 7;
    
 }
 #item-4 {
    grid-row-start: 3;
    grid-column-start: 4; 
    grid-row-end: 4;
    grid-column-end: 5;
    
 }
 .box-descripcion-detalle {
    display: flex;
    flex-direction: column;
 }
 .circulo {
	width: 19rem;
	height: 20rem;
	border-radius: 50%;
	background: rgb(13, 141, 141);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
     margin:0px auto;
    padding:3%
}
.detalle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(13, 141, 141);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 25px;
    width: 300px;
    height: 1230px;
    margin:10px auto;
    padding: 3%;
}

.circulo > p ,
.detalle > p {
	color: white;
	font-size: 1.4rem;
	font-weight: bold;
}
.detalle > p {
    white-space: pre-wrap;
}
/* contenedor select  */
.select-container {
    display: flex;
    justify-content: space-evenly;
}
/* acordeon */
summary {
    width: 900px;
    background-color: rgb(13, 141, 141);
    cursor: pointer;
}
details[open] {
    background: #36AE7C; /* color de fondo cuando está desplegado */
}
.bg-container-accordion {
    padding: 10px;
    color: white;
    max-width: 1000px;
    text-decoration: none;
    text-align: center;
    background: rgb(13, 141, 141);
    border: none;
}
.fisico-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.retiro-fisico-container {
    color: white;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    background-color: rgb(13, 141, 141); 
    border-radius: 25px;
    padding: 30px;
    width: 1750px;
}
.retiro-fisico-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}
.box-retiro-fisico {
    display: flex;
    align-items: center;
    background: rgb(13, 141, 141);   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 1750px;           
    height: 350px;
    padding: 10px;
} 
.row-pqr {
    gap: 10px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    color: #FFBD35;
} 
.bg-green-box {
    background: rgb(13, 141, 141);
}
.row-contacto {
    padding: 20px;
    border-radius: 50px;
    text-align: center;
    color: #FFBD35;    
}
.fa-cc-mastercard:before,
.fa-cc-visa:before,
.fa-paypal:before {
    color: rgb(13, 141, 141);  
}

/* nosotros container */
.nosotros-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}
.nosotros-descripcion {
    width: 600px;
    height: auto;
    padding: 20px;
}
.nosotros-form {
    width: 400px;
    height: 100%;
}
@media (max-width: 768px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(13, 141, 141);
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li, .header__search_bar, .header__icon{
        display: inline;
        margin: 50px 0;
        line-height: 30px;
        align-items: flex-start;
    }
    nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        left:0;
    }   
  
#header.header {
        justify-content: flex-start;
    }
    #header .header__logo {
        padding: 16px;
    }
    #header .header__menu ul , #header .header__search_bar, #header .header__icon{
        display: flex;
        list-style: none;
        flex-direction: column;
        align-items: flex-start;
    }
    #header .header__menu ul li a,
    #header .header__icon,
    #header .header__search_bar {
        display: inline;
        text-decoration: none;
        color: white;
    }
}