body {
  background-color: #FFBD35;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin: 20px;
}

header {
  background-color: rgb(13, 141, 141);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  align-items: center;
  position: fixed;
  z-index: 100;
  height: 90px;
  width: 100%;
}
header .header__logo {
  padding: 10px 10px;
  text-align: center;
  color: white;
}
header .header__logo i:hover {
  color: #FFBD35;
  transform: scale(1.75);
}
header .header__menu ul {
  display: flex;
  list-style: none;
}
header .header__menu ul li a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  padding: 10px;
}
header .header__menu ul li a:hover {
  color: #FFBD35;
  transform: scale(1.75);
}
header .header__icon {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  padding: 10px;
}
header .header__icon i {
  padding: 5px;
}
header .header__search_bar {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  padding: 10px;
}
header .header__search_bar i {
  padding: 5px;
}
header .checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
header #check {
  display: none;
}

footer .footerHome__text, footer .footerHome__icon {
  background-color: rgb(13, 141, 141);
  justify-content: center;
  align-items: center;
  border: 5px;
  padding: 10px;
  height: 90px;
  width: 100%;
  display: flex;
  color: white;
}
footer .footerHome__text i, footer .footerHome__icon i {
  color: white;
  padding: 10px;
}

main {
  height: 90vh;
  margin-top: 100px;
}
main .testimonials {
  margin: 50px auto;
}
main .testimonials h1 {
  text-align: center;
  font-weight: "Roboto Mono", monospace;
  color: rgb(13, 141, 141);
  padding-bottom: 10px;
  text-transform: uppercase;
}
main .testimonials h1:after {
  background: rgb(13, 141, 141);
  display: block;
  height: 170px;
  width: 3px;
  margin: 20px auto 5px;
}
main .testimonials p {
  color: #efefef;
}
main .testimonials .row {
  margin-top: 30px;
}
main .testimonials .row .col-md-4 {
  margin: 40px auto;
}
main .testimonials .row .col-md-4 .profile {
  background: #efefef;
}
main .testimonials .row .col-md-4 .profile:hover {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.5s;
}
main .testimonials .row .col-md-4 .profile img {
  top: -60px;
  position: relative;
  left: calc(50% - 100px);
  border: 10px solid white;
}
main .testimonials .row .col-md-4 .profile .user {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
main .testimonials .row .col-md-4 .profile h3 {
  font-size: 20px;
  margin-top: 15px;
  color: #FFBD35;
}
main .testimonials .row .col-md-4 .profile blockquote {
  font-size: 16px;
  line-height: 30px;
  color: rgb(13, 141, 141);
}
main .testimonials .row .col-md-4 .profile blockquote:before {
  content: open-quote;
  font-size: 50px;
  position: relative;
  color: #FFBD35;
  line-height: 20px;
  bottom: -15px;
}
main .testimonials .row .col-md-4 .profile blockquote:after {
  content: close-quote;
  font-size: 50px;
  position: relative;
  color: #FFBD35;
  line-height: 10px;
  bottom: -15px;
  left: 5px;
}

@media (max-width: 768px) {
  h1, h2, h3, h4, h5, h6, p {
    font-size: 0.8rem;
  }
  header {
    justify-content: flex-start;
  }
  header .header__logo {
    padding: 16px;
  }
  header .header__menu, header .header__search_bar, header .header__icon, header ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: flex-start;
  }
  header .header__icon {
    flex-direction: row;
  }
  header .header__search_bar {
    flex-direction: row;
  }
  header .checkbtn {
    display: block;
  }
  header #check:checked ~ ul {
    left: 0;
  }
  header ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(13, 141, 141);
    top: 80px;
    left: 100%;
    text-align: center;
    transition: all 0.5s;
  }
  header nav ul li {
    display: inline;
    margin: 50px 0;
    line-height: 30px;
    align-items: flex-start;
  }
  header nav ul li a {
    font-size: 20px;
  }
  .footerHome__text, .footerHome__icon {
    bottom: -700px;
    position: absolute;
  }
}
@media (max-width: 425px) {
  .header__icon {
    flex-direction: column;
    padding: 0px;
  }
}
@media (max-width: 1024px) {
  h3 {
    font-size: calc(1.3rem - 0.5vw);
  }
}/*# sourceMappingURL=testimonial.css.map */